<form [formGroup]="userForm">
  <div formGroupName="AddressDetails">
    <mat-form-field appearance="fill">
      <mat-label>City*</mat-label>
      <input matInput formControlName="Add_City">
    </mat-form-field><br>

    <mat-form-field appearance="fill">
      <mat-label>State*</mat-label>
      <input matInput formControlName="Add_State">
    </mat-form-field><br>

    <mat-form-field appearance="fill">
      <mat-label>Zip Code*</mat-label>
      <input matInput formControlName="Add_Zip">
    </mat-form-field><br>
    <div
      [hidden]="!userForm.get('AddressDetails').get('Add_Zip')?.errors?.pattern && !userForm.get('AddressDetails').get('Add_Zip')?.errors?.minlength && !userForm.get('AddressDetails').get('Add_Zip')?.errors?.maxlength">
      Pin Code should be of 6 digits!
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Created On*</mat-label>
      <input matInput formControlName="Created_On" readonly>
    </mat-form-field><br>
  </div>
</form>

<button mat-stroked-button color="primary" matStepperPrevious style="width: 100px;height: 40px;">Previous</button>
&nbsp;
<button mat-stroked-button color="primary" matStepperNext (click)="step2Submitted()"
  style="width: 100px;height: 40px;">Next</button>