<div style="padding-left: 400px;margin-top: 47px;">
    <div *ngIf="formSubmitted">
        <h3 style="color: forestgreen;">{{userinput}}</h3>
    </div>
    <div *ngIf="!formSubmitted">
        <h2 style="font-family:'Times New Roman', Times, serif;font-size: x-large;color: rgb(131, 60, 212);">Please
            Check your Details:</h2><br>

        <div class="container">
            <mat-label style="font-weight: bold;">Full Name:</mat-label>&nbsp;
            <mat-form-field>
                <input matInput formControlName="First_Name"
                    value="{{userForm.get('PersonalDetails').get('Last_Name').value}} {{userForm.get('PersonalDetails').get('First_Name').value}} {{userForm.get('PersonalDetails').get('Middle_Name').value}}"
                    readonly>
            </mat-form-field><br>

            <mat-label style="font-weight: bold;">Email:</mat-label>&nbsp;
            <mat-form-field>
                <input matInput formControlName="Email" value="{{userForm.get('PersonalDetails').get('Email').value}}"
                    readonly>
            </mat-form-field><br>

            <mat-label style="font-weight: bold;">Date Of Birth:</mat-label>&nbsp;
            <mat-form-field>
                <input matInput formControlName="Date_Of_Birth"
                    value="{{userForm.get('PersonalDetails').get('Date_Of_Birth').value | date}}" readonly>
            </mat-form-field><br>

            <mat-label style="font-weight: bold;">Contact Number:</mat-label>&nbsp;
            <mat-form-field>
                <input matInput formControlName="Phone_No"
                    value="{{userForm.get('PersonalDetails').get('Phone_No').value}}" readonly>
            </mat-form-field><br>

            <mat-label style="font-weight: bold;">City:</mat-label>&nbsp;
            <mat-form-field>
                <input matInput formControlName="Add_City"
                    value="{{userForm.get('AddressDetails').get('Add_City').value}}" readonly>
            </mat-form-field><br>

            <mat-label style="font-weight: bold;">State:</mat-label>&nbsp;
            <mat-form-field>
                <input matInput formControlName="Add_State"
                    value="{{userForm.get('AddressDetails').get('Add_State').value}}" readonly>
            </mat-form-field><br>

            <mat-label style="font-weight: bold;">Zip Code:</mat-label>&nbsp;
            <mat-form-field>
                <input matInput formControlName="Add_Zip"
                    value="{{userForm.get('AddressDetails').get('Add_Zip').value}}" readonly>
            </mat-form-field><br>

            <mat-label style="font-weight: bold;">Created On:</mat-label>&nbsp;
            <mat-form-field>
                <input matInput formControlName="Created_On"
                    value="{{userForm.get('AddressDetails').get('Created_On').value}}" readonly>
            </mat-form-field><br>

        </div>


        <button mat-stroked-button color="primary" matStepperPrevious
            style="width: 100px;height: 40px;">Previous</button>
        &nbsp;

        <button mat-stroked-button color="primary" (click)="submit()"
            style="width: 100px;height: 40px;">{{buttonText}}</button>
    </div>
</div>